.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.marquee-content {
  display: inline-block;
  animation: marquee-animation 20s linear infinite;
  width: 100%;
}

.marquee-container.paused .marquee-content {
  animation-play-state: paused;
}

@keyframes marquee-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.separator {
  padding-right: 10px; /* Adjust the padding as needed */
}
